.MainContainer-progressBarPlaceholder {
  opacity: 0 !important;
}

.MainContainer-closableBadgeContainer {
  margin-right: 0.4em !important;
  margin-left: 0.4em !important;
  display: inline-block;
}

.MainContainer-closableBadgesWrapper {
  margin: 0 auto;
  text-align: center;
}