.RepoDetails-container {
  max-width: 800px !important;
  margin-bottom: 3rem !important;
  margin-top: 3rem !important;
}

.RepoDetails-goButton {
  width: 120px !important;
}

.RepoDetails-loadingButton {
  width: 120px !important;
}

.RepoDetails-stopButton {
  width: 40px !important;
  background-color: #e21f25 !important;
  border-color: #ba0000 !important;
}