.RepoPreloader-topContainer {
  position: relative !important;
  top: 100px !important;
  text-align: center !important;
  width: 450px !important;
}

.RepoPreloader-errorContainer {
  margin-top: 10px !important;
  text-align: left !important;
  color: #ea1125 !important;
}

.progress-bar[aria-valuenow="0"] {
  transition: none;
}